---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Poster1 from "../img/poster1.jpg";
import Poster2 from "../img/poster1.jpg";
import Poster3 from "../img/poster1.jpg";

---
<html lang="es">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="icon" href="/Alfaicon.ico"/> -->
		<link rel="icon" type="image/svg+xml" href="/ALFALogo.png" /> 
    </head>
	
<Layout title="ALFA SOLUCIONES CONTABLES">

	<body>
		<!--<h1>ALFA SOLUCIONES CONTABLES</h1> -->
		<!-- <header>
			<nav id="menu">
				<ul>
					<li>Inicio</li>
					<li>Nosotros</li>
					<li>Servicios</li>
					<li>Contacto</li>
				</ul>
			</nav>
		</header>
		-->
		<Header />
		<div class="logo1"></div>
		<div class=contenedor>
			<div class="slide"></div>
			 <div class="logo"></div>
			 <div class="poster2"></div>
		</div>
		<div class="redes"></div>
	</body>
</Layout>
</html>
<style>
	/*
	main {
		margin: 0px;
		padding: 0px;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: gold;
		font-size: 20px;
		line-height: 1.6;
	}
		*/
	*{
		margin: 0px;
		padding: 0px;

	}
	body {
		margin: 0px;
		padding: 0px;
		font-family: ubuntu;
		color: gold;
		font-weight: 900;
		overflow: hidden; /* Previene el scroll */
		height: 100vh;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	/*
	.logo {
		width: 100%;
		height: 100vh;
		background-image: url("../img/Alfa-nuevo-op.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		/*background-position: center;*/
	/*	background-position: center;
		transition: background-position 0.3s ease;
		display: block;
		position: absolute;
		top: 0px;
	z-index: -1;
	}
	.slide{
		background-image: url('../img/Alfa-barra.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		filter: invert(100%);
		width: 100%;
		height: 95px;
		position: relative;
		top: 100px;
		display: overlay;		
	}
		*/
 .contenedor {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 100vh;
    background-image: url("../img/Alfa-nuevo-op.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide {
    background-image: url('../img/poster1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 450px;
    position: absolute;
    top: 40px;
    left: 15%;
    z-index: 2;
}

.poster2 {
    width: 270px;
    height: 450px;
    background-image: url('../img/poster2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 15%;
    opacity: 0;
    z-index: 3;
    transition: opacity 1s ease-in-out;
    animation: fadeInOut 3s ease-in-out 3s infinite alternate;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:500px){
	.logo{
			background-image: url(../img/Alfa_Back.jpg);
			background-size: cover;
			width: 100vw;
			height: 100vh;
		}
	.logo1{
		background-image: url("../img/ALFA_Perfect_Logo.png");
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 250px;
         z-index: 4;
	}
	.poster2{
		left: 20%;
		width: 60%;
	}
	.slide{
		left: 20%;
		width: 60%;
	}
}
	/*@media (max-width:500px){
		.logo{
			background-image: url(../img/Alfa_Back.jpg);
			background-size: cover;
			width: 100vw;
			height: 100vh;
		}
	}*/
	
	/*@media(max-width:670px){
	.logo{
		/*background-position: -200px center; */
		/*
		background-position: calc(0% + 100vw / 2) center;
	}*/
	/*@media(max-width:570px){
	.logo{
		background-position: -300px center; 
	}
	@media(max-width:500px){
	.logo{
		background-position: -360px center; 
	}
	@media(max-width:500px){
	.logo{
		background-position: -400px center; 
	}*/

	/*header{
		width: 100%;
		display: block;
		opacity: 95%;

	}
	#menu ul{
		background-color: black;
		padding: 2em;
		display: flex;
		text-decoration: none;
		list-style: none;
		flex-direction: row;
		gap: 35px;
		justify-content: center;
		align-items: center;
		color: whitesmoke;
		height: 80px;
	}
	#menu ul li{
		transition: all .4s linear;
	
	}
	#menu ul li:hover {
		color: gold;
		cursor: pointer;
		padding-bottom: 1.3em;
		border-bottom: 1.5px solid gold;
	}
	*/
</style>
