---

---

<html lang="es">
    <footer>
        <div class="footer">
            <div class="ko1">
                <h3>Nuestras redes sociales</h3>
                <div class="logofacebook"></div>
                <div class="logoinstagram"></div>
                <div class="logolinkedin"></div>
            </div>
            <div class="ko2">
                <p>
                    En ALFA Soluciones Contables, trabajamos de manera eficiente para darte un servicio de calidad. 
                    Consulta nuestra politica de privacidad.
                </p>
                <p><span>Politica de privacidad</span></p>
            </div>
        </div>
    </footer>

    <style>
        footer{
            height: 170px;
        }
        .footer{
            background-image: url("../img/ALFA-bg.jpg");
            height: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: gold;     
            margin-top: 2em;     
            font-size: .8em; 
            
        }
        .ko1{
            background-color: gold;
            padding: .5em;
            width: 200px;
            height: 150px;
      
        }
        .ko2{
            background-color: gold;
            padding: .5em;
            width: 200px;
            height: 150px;
        }
        span{
            color: rgb(79, 79, 79);
        }
    </style>
</html>
