---
---
<html lang="es">
    <header>
    <nav id="menu">
        <ul>
            <a href="/"><li>Inicio</li></a>
            <a href="/nosotros"><li>Nosotros</li></a>
            <a href="/servicios"><li>Servicios</li></a>
			<a href="/contacto"><li>Contacto</li></a>
        </ul>
    </nav>
</header>
</html>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    header{
		width: 100%;
		display: block;
		opacity: 95%;

	}
	#menu ul{
		background-color: black;
		padding: 2em;
		display: flex;
		text-decoration: none;
		list-style: none;
		flex-direction: row;
		gap: 35px;
		justify-content: center;
		align-items: center;
		color: whitesmoke;
		height: 35px;
	}
	#menu ul li{
		transition: all .4s linear;
	
	}
	#menu ul li:hover {
		color: gold;
		cursor: pointer;
		padding-bottom: 1.3em;
		border-bottom: 1.5px solid gold;
	}
    a{
        text-decoration: none;
        color:whitesmoke;
    }
	@media (max-width:430px){
		#menu ul{
		gap: 25px;
	}
	}
</style>

